<div class="feed">
    <div class="well">
        <h4>Agrregate your feeds with Agger.</h4>

    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="post">
                <h4>
                    <a href="#">Link Title Here</a>
                    <small>(url.com/goes/here)</small>
                </h4>
                <p>
                    <small>Posted 5 hours ago on
                        <a href="#">Facebook</a>
                    </small>
                </p>
            </div>
            <div class="post">
                <h4>
                    <a href="#">Link Title Here Much Longer</a>
                    <small>(url.com/goes/here)</small>
                </h4>
                <p>
                    <small>Posted 5 hours ago on
                        <a href="#">Pintrest</a>
                    </small>
                </p>
            </div>
            <div class="post">
                <h4>
                    <a href="#">Link Title Here And Stuff</a>
                    <small>(url.com/goes/here)</small>
                </h4>
                <p>
                    <small>Posted 5 hours ago on
                        <a href="#">Linkedin</a>
                    </small>
                </p>
            </div>
            <div class="post">
                <h4>
                    <a href="#">Link Title Here Like Really Long One</a>
                    <small>(url.com/goes/here)</small>
                </h4>
                <p>
                    <small>Posted 5 hours ago on
                        <a href="#">Facebook</a>
                    </small>
                </p>
            </div>
            <div class="post">
                <h4>
                    <a href="#">Link Title Here For Days</a>
                    <small>(url.com/goes/here)</small>
                </h4>
                <p>
                    <small>Posted 5 hours ago on
                        <a href="#">Twitter</a>
                    </small>
                </p>
            </div>
            <div class="post">
                <h4>
                    <a href="#">Link Title Here All-Time Longest Title</a>
                    <small>(url.com/goes/here)</small>
                </h4>
                <p>
                    <small>Posted 5 hours ago on
                        <a href="#">Pintrest</a>
                    </small>
                </p>
            </div>
            <div class="post">
                <h4>
                    <a href="#">Link Title Here</a>
                    <small>(url.com/goes/here)</small>
                </h4>
                <p>
                    <small>Posted 5 hours ago on
                        <a href="#">Linkedin</a>
                    </small>
                </p>
            </div>

        </div>
        <div class="hidden-sm-down col-lg-3 col-lg-offset-1">
            <h4>Channels</h4>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked>
                    Facebook
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked>
                    Twitter
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked>
                    Pintrest
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked>
                    Linkedin
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Google+
                </label>
            </div>
            <hr/>
            <h4>Filters</h4>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked>
                    Comments
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Recent Comments
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Top Posts
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">
                    Recent Posts
                </label>
            </div>
            <hr/>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <div class="feed-pages">
                    <small>Page 1 of 21</small>
                </div>
            </div>
            <div class="col-lg-6 col-xs-6q">
                <div class="feed-nav pull-right">
                    <button class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>

    </div>
