<div class="page-content">
    <div class="row">
        <div class="col-lg-8">
            <div class="feed">
                <h3>
                    <i class="fa fa-heart"></i>
                    <a href="#">Page name goes here</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra.
                    <a href="#">More</a>
                </p>
            </div>
            <div class="post">
                <h3>
                    <i class="fa fa-heart favorite"></i>
                    <a href="#">Page name goes here</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra.
                    <a href="#">More</a>
                </p>
            </div>
            <div class="post">
                <h3>
                    <i class="fa fa-heart favorite"></i>
                    <a href="#">Page name goes here</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra.
                    <a href="#">More</a>
                </p>
            </div>
            <div class="post">
                <h3>
                    <i class="fa fa-heart favorite"></i>
                    <a href="#">Page name goes here</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra.
                    <a href="#">More</a>
                </p>
            </div>
            <div class="post">
                <h3>
                    <i class="fa fa-heart"></i>
                    <a href="#">Page name goes here</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra.
                    <a href="#">More</a>
                </p>
            </div>
            <div class="post">
                <h3>
                    <i class="fa fa-heart"></i>
                    <a href="#">Page name goes here</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra.
                    <a href="#">More</a>
                </p>
            </div>
            <div class="post">
                <h3>
                    <i class="fa fa-heart"></i>
                    <a href="#">Page name goes here</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra.
                    <a href="#">More</a>
                </p>
            </div>
            <div class="post">
                <h3>
                    <i class="fa fa-heart"></i>
                    <a href="#">Page name goes here</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sit amet sapien nec tristique. Morbi vitae odio mi. Praesent vitae diam ac libero tristique viverra.
                    <a href="#">More</a>
                </p>
            </div>
            <div class="feed-pagination pull-right">
                <button class="btn btn-primary" type="button">Next Page</button>
            </div>
        </div>
        <div class="col-lg-4">
          <%= render 'home_pages/sidebar' %>
        </div>
    </div>

</div>

</div>
