<div class="page-title">
  <div class="row">
    <div class="col-lg-6">
      <h1>Featured Pages</h1>
    </div>
    <div class="col-lg-6 add-content">
      <ul class="list-inline pull-right">
        <li>
          <button type="button" name="button" class="btn btn-primary">+Add Content</button>
        </li>
      </ul>

    </div>

  </div>

</div>
